@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



  
  .swiper-slid {
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: end;
  }
  
 
  
  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
  
  .card.image-full:before {
    position: relative;
    content: "";
    z-index: 10;
    border-radius: var(--rounded-box, 1rem /* 16px */);
    --tw-bg-opacity: 1;
    opacity: 0;
}

.mySwiper{
  height: 500px;
  
}
.swiper-pagination-bullet-active {
  background-color:#DB4444; /* Active bullet color */
  top: 300px;
}


  